<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenGraph Template</title>
    <style>
        :root {
            --primary600: #0F2741;
            --primary400: #335275;
            --secondary: #0077D5;
            --text600: #455F7C;
            --text400: #7B94A3;
            --text200: #EFF4FA;
            --white: #ffffff;

            --padding: 80px;
        }
        * {
            margin: 0;
            padding: 0;
        }
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
        html {
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        .grid {
            width: 1200px;
            height: 600px;
            padding: var(--padding);
            background: var(--primary600);
            color: var(--white);
        }
        .content {
            z-index: 3;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            align-items: flex-start;
        }
        h1 {
            color: var(--white);
            font-size: 4.5rem;
            /* font-size: clamp(5rem, 1vh, 5rem); */
            font-weight: 300;
            margin-bottom: 1rem;
            line-height: 1.3;
            z-index: 3;
        }
        p {
            color: var(--text200);
            z-index: 3;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.5;
            max-width: 90%;
        }
        .roofTitle {
            color: var(--secondary);
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: -0.5rem;
            letter-spacing: 1px;
        }
        #logo {
            position: absolute;
            bottom: calc(var(--padding) / 2);
            right: calc(var(--padding) / 1.5);
            z-index: 2;
            transform: scale(.75);
        }
        .hexagon {
            position: absolute;
            right: -300px;
            bottom: -500px;
            transform: scale(.75);
            z-index: 0;
            opacity: .5;
        }
        .infoBar {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            color: var(--white);
        }
        .infoBar__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 3rem;
            color: var(--white);
        }
        .infoBar__icon {
            display: flex;
            align-items: center;
            align-self: center;
            margin-right: .5rem;
        }
        .infoBar__icon > svg > path {
            stroke: var(--text600);
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<body>
    <div class="grid">
        <div class="content">
            <div class="roofTitle">
                Statistics &amp; Facts
            </div>
            <h1>
                {{ title }}
            </h1>
            <p>
                {{ description }}
            </p>
        </div>
        <svg class="hexagon" width="1236" height="1080" viewBox="0 0 1236 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M577.049 241.207L946.155 323.007C1008.22 336.761 1058.68 382.214 1078.44 442.563L1193.32 800.426C1213.07 860.776 1198.35 927.193 1154.95 973.547L899.635 1249.37C856.236 1295.72 791.29 1315.6 729.228 1301.84L360.123 1220.04C298.061 1206.29 247.593 1160.84 227.841 1100.49L112.962 742.625C93.2097 682.276 107.929 615.859 151.328 569.505L406.643 293.683C450.041 247.329 514.987 227.453 577.049 241.207Z" fill="url(#paint0_linear)" fill-opacity="0.3"/>
            <path d="M1077.35 108.761L1512.54 296.081C1585.71 327.577 1637.17 395.375 1647.32 474.302L1704.76 941.804C1714.91 1020.73 1681.2 1099.04 1616.9 1145.92L1237.87 1425.55C1173.57 1472.43 1088.95 1481.65 1015.78 1450.15L580.594 1262.84C507.421 1231.34 455.961 1163.54 445.808 1084.61L388.37 617.112C378.218 538.185 411.924 459.877 476.228 412.999L855.259 133.369C919.563 86.4909 1004.18 77.265 1077.35 108.761Z" fill="url(#paint1_linear)" fill-opacity="0.9"/>
            <defs>
            <linearGradient id="paint0_linear" x1="926.953" y1="1212.3" x2="323.311" y2="311.685" gradientUnits="userSpaceOnUse">
            <stop offset="0.395833" stop-color="#103154" stop-opacity="0.97"/>
            <stop offset="1" stop-color="#0B85E5" stop-opacity="0.3"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="1548.79" y1="1088.37" x2="926.289" y2="67.4137" gradientUnits="userSpaceOnUse">
            <stop stop-color="#103154" stop-opacity="0.38"/>
            <stop offset="1" stop-color="#0B85E5" stop-opacity="0.16"/>
            </linearGradient>
            </defs>
        </svg>

        <div id="logo">
            <svg width="254" height="51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.532 22.0298c-.5781-3.0979-2.0187-4.8229-4.6108-4.8229-2.0863 0-3.52689 1.0793-3.52689 3.0933 0 6.0513 15.11919 8.499 15.11919 20.019 0 6.9139-4.7552 10.4408-11.3033 10.4408-7.05379 0-11.08649-4.0327-12.310298-10.7975l7.053838-1.9464c.50578 3.2379 1.65734 6.1236 5.32876 6.1236 2.0863 0 3.5992-1.2238 3.5992-3.3869 0-6.6971-15.11926-9.217-15.11926-19.7978 0-6.119 4.75073-10.3685 10.80206-10.3685 6.3358 0 10.5852 4.2495 11.809 10.2963l-6.8415 1.147zM27.6838 17.925v-6.6249h4.4617V.859375h8.0655V11.3001h5.401v6.6249h-5.401v22.3175c0 2.0141.8625 3.1702 2.7366 3.1702h2.6644v6.9138c-1.0839.2891-2.0186.4336-4.0327.4336-6.0468 0-9.4338-2.8089-9.4338-8.7112V17.9295h-4.4617v-.0045zM50.0011 22.6756c.4336-7.8486 5.401-12.0981 12.9607-12.0981 7.4873 0 11.7368 3.4547 11.7368 10.513v24.842c0 1.2238.2845 2.8089.5012 4.1049h-7.7041c-.0722-1.0793-.3613-2.0863-.4335-3.0256-3.0257 2.4476-5.5455 3.7437-9.4337 3.7437-5.4733 0-8.2054-3.7437-8.2054-8.7112 0-8.4989 5.6133-13.1774 17.2056-17.5668v-2.3032c0-3.2379-1.2961-4.9674-3.9605-4.9674-3.6714 0-4.4617 2.1586-4.6107 5.4732h-8.0564v-.0045zm16.6321 7.7041c-7.3429 4.1727-9.1447 6.8416-9.1447 10.224 0 2.5199 1.2961 3.5315 3.7437 3.5315 2.2353 0 4.0327-1.6574 5.401-3.5992V30.3797zM79.666 17.925v-6.6249h4.4662V.859375h8.0654V11.3001h5.401v6.6249h-5.401v22.3175c0 2.0141.8626 3.1702 2.7367 3.1702h2.6643v6.9138c-1.0793.2891-2.014.4336-4.0326.4336-6.0468 0-9.4338-2.8089-9.4338-8.7112V17.9295H79.666v-.0045zM102.923 8.10287V.76001h8.065v7.34286h-8.065zm0 41.93463V11.3001h8.065v38.7374h-8.065zM133.528 22.0298c-.578-3.0979-2.019-4.8229-4.611-4.8229-2.087 0-3.527 1.0793-3.527 3.0933 0 6.0513 15.119 8.499 15.119 20.019 0 6.9139-4.751 10.4408-11.303 10.4408-7.054 0-11.087-4.0327-12.31-10.7975l7.053-1.9464c.506 3.2379 1.658 6.1236 5.329 6.1236 2.086 0 3.599-1.2238 3.599-3.3869 0-6.6971-15.123-9.217-15.123-19.7978 0-6.119 4.75-10.3685 10.802-10.3685 6.335 0 10.585 4.2495 11.809 10.2963l-6.837 1.147zM143.674 17.925v-6.6249h4.467V.859375h8.065V11.3001h5.401v6.6249h-5.401v22.3175c0 2.0141.862 3.1702 2.737 3.1702h2.664v6.9138c-1.079.2891-2.014.4336-4.033.4336-6.047 0-9.429-2.8089-9.429-8.7112V17.9295h-4.471v-.0045zM165.997 22.6756c.433-7.8486 5.401-12.0981 12.96-12.0981 7.488 0 11.737 3.4547 11.737 10.513v24.842c0 1.2238.285 2.8089.506 4.1049h-7.704c-.073-1.0793-.362-2.0863-.434-3.0256-3.025 2.4476-5.545 3.7437-9.433 3.7437-5.474 0-8.206-3.7437-8.206-8.7112 0-8.4989 5.613-13.1774 17.21-17.5668v-2.3032c0-3.2379-1.296-4.9674-3.96-4.9674-3.672 0-4.462 2.1586-4.606 5.4732h-8.07v-.0045zm16.632 7.7041c-7.343 4.1727-9.145 6.8416-9.145 10.224 0 2.5199 1.296 3.5315 3.744 3.5315 2.235 0 4.032-1.6574 5.401-3.5992V30.3797zM252.25 1h-46.5c-.968 0-1.75.78224-1.75 1.74986V34.4373c.086-.0135.167-.0181.253-.0181 0 0 7.527-.1492 10.764-1.8312 3.988-2.0754 6.958-6.3619 6.958-6.3619.755-1.0897 1.586-2.2925 1.853-2.6723.267-.3798.534-.7596.601-.8455.068-.0859.38-.5291.566-.7913.18-.2623.949-1.3701 1.704-2.4598 0 0 4.53-6.5518 10.967-9.89326 6.971-3.62182 16.185-3.2194 16.185-3.2194.05 0 .099.00905.149.01357V2.74534C254 1.78224 253.218 1 252.25 1zm-9.471 18.4165c-3.987 2.0709-6.953 6.3574-6.953 6.3574-.759 1.0942-1.591 2.2925-1.853 2.6723-.262.3798-.534.7596-.601.8455-.068.0859-.385.5291-.565.7913-.181.2623-.95 1.3701-1.705 2.4598 0 0-4.534 6.5518-10.967 9.8887-6.677 3.4726-15.416 3.2466-16.135 3.2239v3.5947c0 .9631.782 1.7499 1.75 1.7499h46.496c.967 0 1.749-.7822 1.749-1.7499V17.5265c-.149.0316-.298.0497-.452.0543.005 0-7.527.1537-10.764 1.8357z" fill="#fff"/>
            </svg>
        </div>

    </div>
</body>
</html>